@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.gradient {
  width: 100vw;
  height: 100%;
  background: linear-gradient(334deg, #5beea7, #7525e2, #3162f6);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}
html {
  scroll-snap-type: y mandatory;
}
.snap {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
.scroll-bar::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.scroll-bar::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the track of the scrollbar */
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #56067a; /* Color of the thumb (the scrolling part) of the scrollbar */
  border-radius: 6px; /* Making the thumb corners round */
}

/* Styles for Firefox */
.scroll-bar {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #56067a #f0f0f0; /* thumb and track color */
}
.scroll-bar:nth-of-type(1) {
  direction: rtl;
}
@media (max-width: 768px) {
  .snap {
    scroll-snap-align: none;
    scroll-snap-stop: normal;
  }
  html {
    scroll-snap-type: none;
  }
}
@media (max-width: 495px) {
  .intro {
    margin-top: 20px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
